<div class="d-flex justify-content-center mt-5">
    <mat-card class="">
        <mat-card-content>
            <div class="d-flex justify-content-start align-items-center profile-card">
                <img class="ms-1 me-5 profile-avatar" [src]="profilesDetails.images[1].url" alt="">
                <div>
                    <div class="mb-2 profile-name"><span>Name:</span> {{profilesDetails.display_name}}</div>
                    <div class="mb-2 profile-email"><span>Email:</span> {{profilesDetails.email}}</div>
                    <div class="mb-3 profile-country"><span>Country:</span> {{profilesDetails.country}}</div>
                    <app-button [text]="'View Profile on Spotify'" (onClick)="onViewSpotifyProfile()"></app-button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>